
:root{
    --primary-color: #047aed;
    --secondary-color: #1c3fa8;
    --dark-color: #002240;
    --light-color: #f4f4f4;
}




*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Franklin Gothic Medium', sans-serif;
    color: #333;
    line-height: 1.6;
}

ul{
   list-style-type: none;
}


a{
    text-decoration: none;
    color: #333;
}

h1, h2{
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
    cursor: pointer;
}

p{
    margin: 10px 0;
    text-align: justify;
}

img{
    width: 100%;
}

/* navbar */

.navbar{
    background-color: var(--primary-color);
    background-image: url(Img/Gif\ Ads.gif);
    color: white;
    height: 100px;
    
}

.navbar ul{
    display: flex;
}

.navbar a{
    color: white;
    padding: 10px;
    margin: 0 5px;
    transition: 0.2s ease-in;
}

.navbar a:hover{
    /* border-bottom: 2px #fff solid; */
    /* color: yellow; */
    box-shadow: 0 3px 4px rgba(0,0,0,0.2);
    /* border: 1px solid black; */
}

.navbar .flex{
    justify-content: space-between;
}

.lgo{
    width: 100px;
    cursor: pointer;
    /* overflow: visible; */
}


/* showcase */
.showcase{
    height: 400px;
    background-color: var(--primary-color);
    /* background-image: url(Img/Gif-Ads.gif); */
    
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    position: relative;
}


.showcase h1{
    font-size: 40px;
}

.showcase p{
    margin: 20px 0;
}

.showcase .grid{
    grid-template-columns: 55% 45%;
    gap: 30px;
    overflow: visible;
}

.showcase-form{
    justify-content: center;
    position: relative;
    top: 60px;
    height: 350px;
    width: 300px;
    padding: 40px;
    z-index: 100;
    transition: .3s ease-in;
    &:hover{
        transform: scale(1.1);
    }
}

.showcase-text{
    background-color: #1b1b1bab;
    padding: 20px;
    border-radius: 30px;
}

.showcase-form .form-control{
    margin: 30px 0;
}

/* .showcase-form input[type='text], .showcase-form input[type='email']{
    border: 0;
    border-bottom: 1px solid #b4becb;
} */

.showcase-form input:focus{
    outline: none;
}


.showcase::before, .showcase::after{
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background-color: white;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
}

/* stats */
.stats{
    padding-top: 100px;
}

.stats-heading{
    /* max-width: 500px; */
    margin: auto;
}

.stats span{
    font-size: 30px;
    color: var(--secondary-color);
}

.stats .grid h3{
    font-size: 28px;
}

.stats .grid p{
    font-size: 22px;
    font-weight: bold;
}


/* cli */
.cli .grid{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.cli .grid > *:first-child{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

/* cloud */

.cloud .grid{
    grid-template-columns: 4fr 3fr;
}

/* languages  */
.languages .flex{
    flex-wrap: wrap;
}

.languages .card{
    text-align: center;
    margin: 18px, 10px 40px;
    transition: .2s ease-in;
}

.languages .card h4{
    font-size: 20px;
    margin-bottom: 10px;
}

.languages .card:hover{
    transform: translateY(-15px);
}

/* footer */
.footer .socials a{
    margin: 0 10px;
}


/* tablets and under */
@media(max-width: 768px){
    .grid, .showcase .grid, .stats .grid, .cli .grid, .cloud .grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .showcase{
        height: auto;
    }

    .showcase-text{
        text-align: center;
        margin-top: 40px;

    }

    .showcase-form{
        justify-self: center;
        margin: auto;
    }


    .cli .grid > *:first-child{
        grid-column: 1;
        grid-row: 1;
    }
}

/* mobile */
@media(max-width: 500px){
    .navbar{
        height: auto;
    }

    .navbar .flex{
        flex-direction: column;
    }

    .navbar ul{
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.1);
    }

    .showcase{
        height: 400px;
        /* background-color: var(--primary-color); */
        background-image: url(Img/Mobile-ads.gif);
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
        position: relative;
    }

    .stats{
        padding-top: 420px;
    }
    .showcase-form{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
